// Typography Partial


// Typography Partial

@use 'variables' as *;

html{
    font-size: 125%;
}

body{
    font-family: $body_font;
}

h1{
    font-family: $logo_font;
    letter-spacing: 3px;
    font-size: 4rem;
}

.registration_container p{
    font-size: 1.3rem;
    margin: 10px 0;
}

.registration_container p:last-child{
    font-size: 0.8rem;
}