// Variables List Partial

// Font Families

$logo_font: 'Fredoka One', cursive;
$header_font: 'Ubuntu', sans-serif;
$body_font: 'Montserrat', sans-serif;

// Color Palette

$primary_color: #55c1e3;
$secondary_color: #7392ff;
$tertiary_color: #8892b3;
$quarternary_color: #d6c2ff;
$quinary_color: #5b59b1;
$senary_color: #8f98b3;

// Font Weights

$font_weight_thin: 100;
$font_weight_regular: 400;
$font_weight_bold: 700;

// Font Styles

$font_italic: italic;